# base ignores
.*
~*
*~

# package distubution ignores
node_modules/

# app file ignores
*.js
*.css
*.html
*.map
*.private

# allowing test files
!cypress/**/*

# test file ignores
*.mp4

# ignoring git/github files
!.gitignore
!.github