[data-page] {

	transition: 150ms all;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;

	&[hidden] {
		visibility: hidden;
		opacity: 0;
	}

}

#appPageMain {
	margin-top: 100px;
	flex: 1;
	position: relative;

}

.oauth-button {

	height: 50px;
	width: fit-content;
	padding: 0 15px;
	border-radius: 4px;
	border: 2px solid #102A43;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	color: #102A43;

	img {
		height: 80%;
		margin-right: 10px;
	}

}

@media all and (max-width: 950px) {
	#appPageMain {
		margin-top: 50px;
	}
}