* {

	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	border: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-overflow-scrolling: touch;
	font-family: 'Montserrat', sans-serif;

	&:focus {
		outline: none;
	}

	&::after, &::before {
		content: "";
		display: none;
		box-sizing: border-box;
	}

}

html, body {
	overflow-x: hidden;
	background-color: #F0F4F8;
	height: 100%;
}

body {
	display: flex;
	flex-flow: column nowrap;
}

a {
	text-decoration: none;
}

a, button {
	cursor: pointer;
}

button {

	display: flex;
	justify-content: center;
	align-items: center;

	&.loading {
		pointer-events: none;
		cursor: not-allowed;
		opacity: .5;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 35px;
		background-image: url(/assets/load-dots.svg);
		color: transparent !important;
	}

}

img {
	max-width: 100%;
	height: auto;
}

[aria-hidden] {
	display: none !important;
}

.max-width {
	width: 95%;
	max-width: 1000px;
	margin: 0 auto;
}