* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	border: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-overflow-scrolling: touch;
	font-family: "Montserrat", sans-serif;
	&:focus {
		outline: none;
	}
}

html, body {
	overflow-x: hidden;
	background-color: #F0F4F8;
}

a {
	text-decoration: none;
}

a, button {
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
}

[aria-hidden] {
	display: none !important;
}

.max-width {
	width: 95%;
	max-width: 1000px;
	margin: 0 auto;
}