#sticky-footer-wrap {
	flex: 1 0 auto;
	display: flex;
	flex-flow: column nowrap;
}

footer {

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0;
	flex-shrink: 0;

	p {
		font-size: 14px;
		color: #829AB1;

		a {
			text-decoration: underline;
			color: inherit;
		}

	}

}