header {

	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 90px;

	img {
		height: 30px;
		width: auto;
	}

	a.app-cta {

		height: 40px;
		padding: 0 20px;
		border-radius: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid #8D2B0B;
		transition: 100ms all;
		color: #102A43;
		font-weight: 600;
		text-transform: uppercase;

		&:hover {
			background-color: #8D2B0B;
			color: #D9E2EC;
		}

	}

	#progressBar {

		--ball-size: 10px;
		--bg-color: #0E7C86;
		--total-length: 100px;
		--bar-length: calc(calc(var(--total-length) - calc(var(--ball-size) * 3)) / 2);

		width: 100px;
		height: 2px;
		background-color: var(--bg-color);
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		position: relative;

		.bar-overlay {
			position: absolute;
			left: var(--ball-size);
			background-color: #F0F4F8;
			opacity: .6;
			width: calc(var(--total-length) - calc(var(--ball-size) * 2));
			height: 2px;
			transition: 150ms all;
		}

		&::before, &::after, .middle {
			display: inline-block;
			height: var(--ball-size);
			width: var(--ball-size);
			border-radius: var(--ball-size);
		}

		&::before {
			background-color: var(--bg-color);
		}

		&::after, .middle {
			border: 2px solid var(--bg-color);
			background-color: #F0F4F8;
			transition: 200ms all;
		}

		.middle {
			z-index: 2;
		}

		&[data-step="2"] {

			.bar-overlay {
				// this calc is the calculated length of the bar in between the balls
				width: var(--bar-length);
				left: calc(var(--bar-length) + calc(var(--ball-size) * 2));
			}

			.middle {
				background-color: var(--bg-color);
			}

		}

		&[data-step="3"] {

			.bar-overlay {
				width: 0px;
				left: calc(var(--total-length) - var(--ball-size));
			}

			&::after, .middle {
				background-color: var(--bg-color);
			}

		}

	}

}

@media all and (max-width: 400px) {

	header {

		img {
			height: 25px;
		}

		a.app-cta {
			padding: 0 15px;
			height: 35px;
			font-size: 13px;
		}

	}

}